%h1 Secret Santa

%p.tagline Organise your office or group Secret Santa pool the web 2.0 way!

%p Sign-up and start a new Secret Santa gift pool.

= form_tag :users, :method => :post do
	= label_tag 'Username'
	= text_field_tag 'name'
	= label_tag 'Email address'
	= text_field_tag 'email'
	= submit_tag 'Sign up'
